<html>
  <head>
<title>[% title %]</title>
</head>
<body>
[% IF c.stash.error %]
<h3>[% c.stash.error %]</h3>
[% END %]
[% FOREACH post IN posts %]
<a href=/blog/[% post %]>[% post %]</a><br>
[% END %]

<h5>Author: [% author %]</h5>
[% USE Dumper %]
<!--
[% Dumper.dump(c) %]
-->

</body>
</html>
