<div id="footer">
	<div id="copyright">
	&copy; 2008 Some Rights Reserved.<br />
    Theme <a href="http://iwp.me/maze/" target="_blank" title="Get Maze theme">Maze</a> by <a href="http://iwp.me" target="_blank" title="Visit iWP.me">iWP.me</a>.
	</div>
</div>
</div>
</div>
</body>
</html>
[% USE Dumper %]
<!--
[% Dumper.dump(c) %]
-->
