<div id="topmenu">
    <div id="feed">
        <a href="/blog/feed">Feed</a>
    </div>
</div>
<div id="header">
    <div id="title">
        <h1><a href="/">[% c.config.title %]</a></h1>
        <h2>[% c.config.description %]</h2>
    </div>
</div>
<div id="menu">
    <ul>
        <li>Home
        <li>Page 1
        <li>Page 2
    </ul>
</div>
