<!-- Blog Post -->

<h1>[% post.title %]</h1>
<p class="lead">
    by <a href="#">[% post.author %]</a>
</p>
<hr>
<p><span class="glyphicon glyphicon-time"></span> 
     Posted on [% post.date %] 
     [% IF post.category %] under [% post.category.join(', ') %][% END %]
</p>

<hr>
<!-- Preview Image -->
<img class="img-responsive" src="http://placehold.it/900x200" alt="">
<hr>
[% content %]
<hr>
[% INCLUDE "layouts/$layout/comments.tt" %]
